html{
    background-image: url("./brvahesite.jpg");
    background-size:     cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
      
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.ees{
    background-color: aquamarine;
    position: relative;
    left: 60px;
}
.taga{
    background-color: azure;
    position: relative;
    left: 150px;

}
.järgmine{
    position: absolute;
    bottom: 50px;
    right: 40px;
    font-size: large;
    
}
.eelmine{
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: large;
    
}
.eelmine2{
    position: absolute;
    bottom: 20px;
    right: 60px;
    font-size: large;
    
}
.br-taust{
    background-color: black;
}
.video{
    font-size: large;
    position: relative;
    left: 60px;
}