html{
    background-image: url("./taustapilt4.jpg");
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
      
}
h1{
    text-align: center;
    
}
h2{
    position: relative;
    left: 65px;
}
h3{
    position: relative;
    left: 65px;
}
h4{
    position: relative;
    left: 80px;
}
h5{
    position: relative;
    left: 100px;
}
div{
    top: 150px;
    position: absolute;
    left: 75px;
    font-size: 25px;
}